<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configurations>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"></section>
	</configurations>
	<log4net>
		<root>
			<priority value="Info"></priority>
			<appender-ref ref="AllLogAppender"></appender-ref>
		</root>
		<appender name="AllLogAppender" type="log4net.Appender.RollingFileAppender">
			<level value="DEBUG"></level>
			<file value="Logs\\Application_Log.txt"></file>
			<appendToFile value="true"></appendToFile>
			<rollingStyle value="Size"></rollingStyle>
			<maxSizeRollBackups value="10"></maxSizeRollBackups>
			<maximumFileSize value="10MB"></maximumFileSize>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger: %M - %message%newline"></conversionPattern>
			</layout>
		</appender>
	</log4net>
</configuration>